@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-primary{
  font-family: "Poppins", serif;
}

.font-secondery{
  font-family: "Montserrat", serif;
}

body{
  font-family: "Poppins", serif;
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #8750f7 #2a1454 !important;
}
h1, h2, h3, h4, h5{
  font-family: "Montserrat", serif;
}

.color-main{
  color: #8851f7;
}

.color-gradient{
  background: linear-gradient(90deg, #8851f7, #fdfdfe);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.color-desc{
  color: #e5efff
}

.bg-main{
  background-color: #050709 
}

.bg-secondery{
  background-color: #0f0715;
}

.active {
  color: #8751f7 !important;
  background-color: #060606 !important;
}

.bg-btn{
  background: linear-gradient(90deg, #864ff5, #2a1454)!important;
  padding: 10px 25px;
  border-radius: 30px;
}